body {
    background-color: white;
}

.blinking { 
    background-color: green;
    border-radius: 50%;
    min-width: 16px;
    min-height: 16px;
    width: 16px;
    height: 16px;
    animation: blink 2s infinite 2s;
}

#title {
    font-size: 28px;
    font-weight: bolder;
}

.header {
    border: solid;
    display: flex;
    margin: 1% auto;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: Raleway;
}

.header img {
    width: 100px;
    height: auto;
}

@keyframes blink {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}